<br />
<div class="container">
    <a routerLink="/parametros/crear-estado-solicitud" class="btn btn-success">Nuevo Registro</a>
</div>
<table class="table responsive-table striped container">
    <thead>
        <th>
            Id
        </th>
        <th>
            Nombre
        </th>
        <th>
            Acciones
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let es of recordList  | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: total }">
            <td>
                {{es.id}}
            </td>
            <td>
                {{es.nombre}}
            </td>
            <td>
                <a routerLink="/parametros/editar-estado-solicitud/{{es.id}}" class="btn btn-warning orange">Editar</a>
                &nbsp;<a routerLink="/parametros/eliminar-estado-solicitud/{{es.id}}" class="btn btn-warning red">Eliminar</a>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
                </pagination-controls>
            </td>
        </tr>
    </tbody>
</table>