<br />
<a routerLink="/parametros/crear-proponente" class="btn btn-success">Nuevo Registro</a>
<table class="table responsive-table">
    <thead>
        <th>
            Id
        </th>
        <th>
            Primer Nombre
        </th>
        <th>
            Segundo Nombre
        </th>
        <th>
            Primer apellido
        </th>
        <th>
            Segundo apellido
        </th>
        <th>
            Correo
        </th>
        <th>
            Telefono
        </th>
        <th>
            Acciones
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let pr of recordList  | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: total }">
            <td>
                {{pr.id}}
            </td>
            <th>
                {{pr.primerNombre}}
            </th>
            <th>
                {{pr.segundoNombre}}
            </th>
            <th>
                {{pr.primerApellido}}
            </th>
            <th>
                {{pr.segundoApellido}} 
            </th>
            <th>
                {{pr.correo}}
            </th>
            <th>
                {{pr.telefono}}
            </th>
            <td>
                <a routerLink="/parametros/editar-proponente/{{pr.id}}" class="btn btn-warning orange">Editar</a>
                &nbsp;<a routerLink="/parametros/eliminar-proponente/{{pr.id}}" class="btn btn-warning red">Eliminar</a>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
                </pagination-controls>
            </td>
        </tr>
    </tbody>
</table>