<br />
<div class="container">
    <a routerLink="/parametros/crear-jurado" class="btn btn-success">Nuevo Registro</a>
</div>

<table class="table responsive-table striped container">
    <thead>
        <th>
            Id
        </th>
        <th>
            Nombre
        </th>
        <th>
            Telefono
        </th>
        <th>
            Correo
        </th>
        <th>
            Entidad
        </th>
        <th>
            Acciones
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let f of recordList  | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: total }">
            <td>
                {{f.id}}
            </td>
            <td>
                {{f.nombre}}
            </td>
            <td>
                {{f.telefono}}
            </td>
            <td>
                {{f.correo}}
            </td>
            <td>
                {{f.entidad}}
            </td>
            <td>
                <a routerLink="/parametros/editar-jurado/{{f.id}}" class="btn btn-warning orange">Editar</a>
                &nbsp;<a routerLink="/parametros/eliminar-jurado/{{f.id}}" class="btn btn-warning red">Eliminar</a>
            </td>
        </tr>
    </tbody>
    <tr>
        <td colspan="3">
            <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
            </pagination-controls>
        </td>
    </tr>
</table>