<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s12 center">
                <img class="defaul-archivo" src="/assets/img/archivos/defaul-archivo.png" />
            </div>
            <div class="row">
                <div class="col s12 center">
                    <input class="btn btn-warning orange" type="file" value="Seleccionar"
                        (change)="OnchangeInputFile($event)" />
                    &nbsp;<button (click)="UpLoadArchivo()" class="btn">Cargar Archivo</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row">
    <form [formGroup]="form" class="col s12">
        <input type="text" formControlName="archivo" /> <!-- no me apunta aun-->
        <div class="row">
                <div class="input-field aling-center col s9">
                    <textarea id="descripcion" formControlName="descripcion" class="materialize-textarea"></textarea>
                    <label for="descripcion">Descripción de la evaluación</label>
                </div>
        </div>
        <div class="row">
            <div class="input-field col s2">
                <a routerLink="/evaluar/listar-evaluaciones" class="btn btn-warning red">
                    Cancelar
                </a>
            </div>
            <div class="input-field col s10">
                <button (click)="SaveRecord()" class="btn btn-success">
                    Guardar
                </button>
            </div>
        </div>
    </form>
</div>