<br />
<a routerLink="/parametros/crear-departamento" class="btn btn-success">Nuevo Registro</a>
<table class="table responsive-table">
    <thead>
        <th>
            Id
        </th>
        <th>
            Nombre
        </th>
        <th>
            Facultad
        </th>
        <th>
            Acciones
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let fa of recordList  | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: total }">
            <td>
                {{fa.id}}
            </td>
            <td>
                {{fa.nombre}}
            </td>
            <td>
                {{fa.facultad.nombre}}
            </td>
            <td>
                <a routerLink="/parametros/editar-departamento/{{fa.id}}" class="btn btn-warning orange">Editar</a>
                &nbsp;<a routerLink="/parametros/eliminar-departamento/{{fa.id}}" class="btn btn-warning red">Eliminar</a>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
                </pagination-controls>
            </td>
        </tr>
    </tbody>
</table>