<div class="section"></div>
<main class="center">
    <div class="container">
        <div class="z-depth-1 grey lighten-4 row"
            style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

            <form class="col s12" [formGroup] = "form">
                <div class='row'>
                    <div class='col s12'>
                    </div>
                </div>

                <div class='row'>
                    <div class='input-field col s12'>
                        <input formControlName = "username" class='validate' type='text' name='usuario' id='usuario' lenght = />
                        <label for='email'>Usuario</label>
                        <div *ngIf = "GetForm['username'].errors && (GetForm['username'].dirty || GetForm['username'].touched)" class="error-message">
                            <label>Porfavor ingresar un usuario valido</label>
                        </div>
                    </div>
                </div>

                <br />
                <div class='row center'>
                    <button type='button' [disabled] = "GetForm['username'].errors" (click) = "login()" name='btn_login'
                        class='col s12 btn btn-large waves-effect'>Recuperar clave</button>
                </div>
            </form>
        </div>
    </div>
    <div class="section"></div>
    <div class="section"></div>
</main>