<div class="row">
    <div class="row">
        <input type="hidden" formControlName="id" />
        <div class="input-field col s12">
            <label>Está seguro de eliminar por completo el registro con la siguiente información:</label>
            <br />
            <ul>
                <li>
                   <strong> Id: {{id}}</strong>
                </li>
                <li>
                    <strong> Nombre: {{nombre}}</strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s2">
            <a routerLink="/parametros/listar-facultad" class="btn btn-warning red">
                Cancelar
            </a>
        </div>
        <div class="input-field col s10">
            <button (click)="RemoveRecord()" class="btn btn-success">
                Confirmar
            </button>
        </div>
    </div>
</div>
