<nav>
    <div class="nav-wrapper">
        <a routerLink="/home" class="brand-logo">Inicio</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li *ngIf="session"><a routerLink="sass.html">Sass</a></li>
            <li *ngIf="session"><a routerLink="badges.html">Components</a></li>
            <li *ngIf="session"><a routerLink="collapsible.html">Javascript</a></li>
            <li *ngIf="session"><a routerLink="mobile.html">Mobile</a></li>
            <li *ngIf="!session"><a routerLink="seguridad/login">Login</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li *ngIf="session"><a routerLink="sass.html">Sass</a></li>
    <li *ngIf="session"><a routerLink="badges.html">Components</a></li>
    <li *ngIf="session"><a routerLink="collapsible.html">Javascript</a></li>
    <li *ngIf="session"><a routerLink="mobile.html">Mobile</a></li>
    <li *ngIf="!session"><a routerLink="seguridad/login">Login</a></li>
</ul>