<nav>
    <div class="nav-wrapper">
        <a routerLink="/home" class="brand-logo">Inicio</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li *ngIf="!session"><a routerLink="seguridad/login">Login</a></li>
            <ul *ngIf="session" id="slide-out" class="sidenav">
                <li *ngIf="session"><a routerLink="sass.html">Sass</a></li>
                <li *ngIf="session"><a routerLink="badges.html">Components</a></li>
                <li *ngIf="session"><a routerLink="collapsible.html">Javascript</a></li>
                <li *ngIf="session"><a routerLink="mobile.html">Mobile</a></li>
                <li *ngIf="session"><a routerLink="parametros/listar-facultad">Facultad</a></li>
                <li *ngIf="session"><a routerLink="parametros/listar-area-investigacion">Area Investigacion</a></li>
                <li *ngIf="session"><a routerLink="parametros/listar-modalidad">Modalidad</a></li>
                <li *ngIf="session"><a routerLink="parametros/listar-proponente">Proponente</a></li>
                <li *ngIf="session"><a routerLink="parametros/listar-departamento">Departamentos</a></li>
                <li *ngIf="session"><a routerLink="parametros/listar-jurado">Jurados</a></li>
                <li *ngIf="session"><a routerLink="parametros/listar-tipo-comite">Tipos comite</a></li>
                <li *ngIf="session"><a routerLink="parametros/listar-tipo-solicitud">Tipos solicitud</a></li>
                <li *ngIf="session"><a routerLink="parametros/listar-tipo-vinculacion">tipo-vinculacion</a></li>
                <li *ngIf="session" class=""><a routerLink="seguridad/logout">Logout</a></li>
            </ul>
            <a *ngIf="session" href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i
                    class="material-icons">menu</i></a>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li *ngIf="session"><a routerLink="sass.html">Sass</a></li>
    <li *ngIf="session"><a routerLink="badges.html">Components</a></li>
    <li *ngIf="session"><a routerLink="collapsible.html">Javascript</a></li>
    <li *ngIf="session"><a routerLink="mobile.html">Mobile</a></li>
    <li *ngIf="!session"><a routerLink="seguridad/login">Login</a></li>
</ul>