<br>
<br>
<div class="">
    <form [formGroup]="form" class="col s12">
        <div class="row">
            <!--  <div class="input-field col s3">
                <strong> Nombre trabajo: {{nombreTrabajo}}</strong>
            </div> -->
            <div class="input-field col s3">
                <select multiple formControlName="jurados" id="selJurado">
                    <option *ngFor="let c of listaJurados" value="{{c.id}}">{{c.nombre}}</option>
                    <!-- dibujar las opciones de solicitud a area de investigación -->
                </select>
                <label>Jurados</label>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s2">
                <a routerLink="/solicitud/listar-solicitud" class="btn btn-warning red">
                    Cancelar
                </a>
            </div>
            <div class="input-field col s10">
                <button (click)="SaveRecord()" class="btn btn-success">
                    Guardar
                </button>
            </div>
        </div>
    </form>
</div>