<br>
<div class="row">
    <form [formGroup]="form" class="col s12">
        <div class="row">
            <div class="input-field col s3">
                <input formControlName="fecha" id="txtFecha" type="text">
                <label for="txtFecha">Fecha</label>
            </div>
            <div class="input-field col s3">
                <input formControlName="nombreTrabajo" id="txtNombreTrabajo" type="text">
                <label for="txtNombreTrabajo">Nombre trabajo</label>
            </div>
            <div class="input-field col s3">
                <input formControlName="descripcion" id="txtDescripcion" type="text">
                <label for="txtDescripcion">Descripción</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s3">
                <select formControlName="tipoSolicitud" id="selTipoSolicitud">
                    <!-- cargar las opciones desde la base de datos -->
                    <option *ngFor = "let ts of listaTipoSolicitud" value="{{ts.id}}">{{ts.nombre}}</option> <!-- dibujar las opciones de solicitud a area de investigación -->
                </select>
                <label>Tipo solicitud</label>
            </div>

            <div class="input-field col s3">
                <select formControlName="modalidad" id="selModalidad">
                    <!-- cargar las opciones desde la base de datos -->
                    <option *ngFor = "let m of listaModalidad" value="{{m.id}}">{{m.nombre}}</option> <!-- dibujar las opciones de solicitud a area de investigación -->
                </select>
                <label>Modalidad</label>
            </div>
            <div class="input-field col s3">
                <select formControlName="areaInvestigacion" id="selAreaInvestigacion">
                    <!-- cargar las opciones desde la base de datos -->
                    <option *ngFor = "let b of listaAreasInvestigacion" value="{{b.id}}">{{b.nombre}}</option> <!-- dibujar las opciones de solicitud a area de investigación -->
                </select>
                <label>Area de investigación</label>
            </div>
            <div class="input-field col s3">
                <select multiple formControlName="tiposComite" id="selComite">
                    <!-- cargar las opciones desde la base de datos -->
                    <option *ngFor = "let c of listaComite" value="{{c.id}}">{{c.nombre}}</option> <!-- dibujar las opciones de solicitud a area de investigación -->
                </select>
                <label>Tipos de comite</label>
            </div>
            <div class="input-field col s3">
                <select formControlName="estadoSolicitud" id="selEstado">
                    <!-- cargar las opciones desde la base de datos -->
                    <option *ngFor = "let c of listaComite" value="{{c.id}}">{{c.nombre}}</option> <!-- dibujar las opciones de solicitud a area de investigación -->
                </select>
                <label>Tipos de comite</label>
            </div>
            <!-- <div class="input-field col s3">
                <input formControlName="tiposComite" id="txtTiposComite" type="text">
                <label for="txtTiposComite">Tipos comite</label>
            </div> -->
        </div>
        <div class="row">
            <div class="input-field col s2">
                <a routerLink="/solicitud/listar-solicitud" class="btn btn-warning red">
                    Cancelar
                </a>
            </div>
            <div class="input-field col s10">
                <button (click)="SaveRecord()" class="btn btn-success">
                    Guardar
                </button>
            </div>
        </div>
    </form>
</div>